html {
  font-family: sans-serif;
  font-size: 14px;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

td:focus,
td:focus-visible,
th:focus,
th:focus-visible {
  outline: 1px solid blue !important;
  border-radius: 2px;
  outline-offset: -1px;
}

/** Styling patch for needle 🪡 */
.ndl-table-td:focus-visible {
  outline: 1px solid blue !important;
  border-radius: 2px;
  outline-offset: -1px;
  z-index: 1;
}
