name: "Release library"
on:
  # Manually trigger
  workflow_dispatch:

permissions:
  contents: write # for checkout and tag
  pull-requests: write # for comments
  packages: write # for publish
  id-token: write # for auth to npm using OIDC

jobs:
  release-table-nav:
    name: "Checks"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          # Need PAT to push to protected main branch
          token: ${{ secrets.PERSONAL_PAT }}
      - uses: actions/setup-node@v3
        with:
          node-version: 24
      - name: Install packages
        run: npm install -g yarn && yarn install
      - name: Build
        run: yarn build
      - name: Run tests
        run: yarn test
      - name: Configuring github user, commit changes from CI & publish packages
        run: |
          # Avoid exposing `.yarnrc.yml` file
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor}}@users.noreply.github.com"
          git update-index --assume-unchanged .yarnrc.yml
          git add .
          git diff --quiet && git diff --staged --quiet || git commit -m "ci: release workflow"
          # Bump versions
          yarn changeset version
          # Get root README.md to the packages, to be visible in npm page
          cp README.md packages/react/README.md
          cp README.md packages/core/README.md
          git add . && git commit -m "ci: releasing new version"
          cd packages/core && npm publish --access public --provenance
          cd packages/react && npm publish --access public --provenance
          yarn changeset tag
          # End of Patch
          git push --follow-tags
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
